.cajita{
    width: 100%;
    display:flex;
}
.pendiente{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:10px;
}
h3{
    font-size:15px;
    color:rgb(255, 255, 255);
    text-align: center;
}
.boton{
    width: 50%;
    display:flex;
    justify-content: flex-end;
}
.btn{
    background-color: rgb(212, 23, 23);
    margin-right: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:20px;
}